!!! XML
!!! strict
%html{ xmlns: "http://www.w3.org/1999/xhtml" }
  %head
    %title Bootstrapper
    %script{src: '/lib/require.js', type: 'text/javascript'}
    %script{src: '/lib/bootstrap.js', type: 'text/javascript'}
  #main%body
    .loading This app is loading.